<% selected_tabs = Array(active_tabs) %>
<% if selected_tabs.size > 1 %>
  <% selected_tabs -= ["all"] %>
<% elsif selected_tabs.size == 1 && selected_tabs.first != "all" %>
  <% selected_tabs -= ["all"] %>
<% end %>

<div class="law-component-layer">
  <% BillViewHelper::LAW_CATEGORIES.each_with_index do |(key, label), index| %>
    <% is_head = %w[all starred].include?(key) %>

    <% selected =
      if key == "starred"
        params[:starred] == 'true'
      elsif key == "all"
        selected_tabs.empty? || selected_tabs == ["all"]
      else
        selected_tabs.include?(key)
      end %>

    <% if context == :list %>
      <%= link_to label,
                  (key == "starred" ? bills_path(starred: true) : law_category_link(key)),
                  class: "#{key}-comp law-category-button law-common-text-component #{'active' if selected}",
                  data: { tab: key, label: label } %>

    <% elsif context == :search && %w[all starred].include?(key) %>
      <%= button_tag type: "button",
                     class: "#{key}-comp law-category-button law-common-text-component #{'active' if selected}",
                     data: {
                       action: "click->category-search#submitSingleTab",
                       tab: key,
                       label: label
                     } do %>
        <div class="law-category-text"><%= label %></div>
      <% end %>

    <% else %>
      <%= button_tag type: "button",
                     class: "#{key}-comp law-category-button law-common-text-component #{'active' if selected}",
                     data: {
                       tab: key,
                       label: label,
                       action: "click->category-search#toggleCategory"
                     } do %>
        <div class="law-category-text"><%= label %></div>
      <% end %>
    <% end %>

    <% if key == "all" || key == "starred" %>
      <div class="law-divider">
        <%= inline_svg("divider", class: "divider-icon") %>
      </div>
    <% end %>
  <% end %>
</div>
