<!-- 상단 배너 -->
<%= render 'shared/banner' %>

<!-- 메인페이지 법안 검색바 -->
<div class="home-category-search">
  <% active_tabs = parsed_active_tabs %>
  <%= render "shared/search_form",
        active_tabs: active_tabs,
        show_main_message: true %>
</div>

<!-- 실시간 검색어: 기본 숨김, 선택된 카테고리에서만 표시 -->
<div id="trendingKeywords" class="trending-keywords">
  <span class="trending-keyword-text">실시간 검색어 :</span>
  <% ["유치원", "근로조건", "복지법", "건강보험", "최저임금"].each do |keyword| %>
    <span class="keyword-bubble trending-keyword-text"><%= keyword %></span>
  <% end %>
</div>

<!-- HOT 이슈 법안 헤더 -->
<div class="hot-issue-header">
  <div class="hot-issue-bill-text">HOT 이슈 법안</div>
  <%= link_to bills_path, class: "all-issue-bill-text" do %>
    전체 법안 보러 가기
    <%= inline_svg("next", class: "all-issue-next-icon") %>
  <% end %>
</div>

<!-- HOT 이슈 캐러셀 -->
<%= render "carousel" %>
