<!-- 법안 목록페이지 법안 카테고리 버튼 목록  -->

<div class="law-component-layer">
  <%= law_category_button('all') %>
  <%= law_category_button('labor-humanrights') %>
  <%= law_category_button('health-welfare') %>
  <%= law_category_button('socialsecurity-national') %>
  <%= law_category_button('economy-finance') %>
  <%= law_category_button('informationcommunication-sciencetechnology') %>
  <%= law_category_button('industry-agriculture') %>
  <%= law_category_button('education') %>
  <%= law_category_button('culture-sports') %>
  <%= law_category_button('family-genderequality') %>
  <%= law_category_button('diplomacy-unification') %>
  <%= law_category_button('land-environment') %>
  <%= law_category_button('disaster-climate') %>
  <%= law_category_button('government-administration') %>
  <%= law_category_button('legislative-judicial') %>
</div>
