<!-- 법안 목록페이지 법안 카테고리 버튼 목록  -->

<div class="law-component-layer">
  <%= law_category_button('government-administration') %>
  <%= law_category_button('legislative-judicial') %>
  <%= law_category_button('publicsecurity-nationaldefense') %>
  <%= law_category_button('economy-finance') %>
  <%= law_category_button('industry-sciencetechnology') %>
  <%= law_category_button('land-urbandevelopment') %>
  <%= law_category_button('health-welfare') %>
  <%= law_category_button('education-culture') %>
  <%= law_category_button('labor-humanrights') %>
  <%= law_category_button('diplomacy-unification') %>
  <%= law_category_button('disaster-climate') %>
</div>
