<%= turbo_frame_tag dom_id(bill, :progress) do %>
  <div class="progress-bar-layer">
    <% steps = ['접수', '심사', '공포'] %>
    <% steps.each_with_index do |step, index| %>
      <div class="progress <%= 'active' if bill.current_status == step %>">
        <% unless index == steps.length - 1 %>
          <div class="step-line"></div>
        <% end %>

        <div class="step-bubble-wrapper">
          <div class="step-bubble">
            <span class="step-label"><%= step %></span>
            <%= inline_svg("next", class: "next-icon") %>
          </div>
          <%= inline_svg("triangle", class: "triangle-icon") %>
        </div>

        <%= inline_svg("ellipse", class: "ellipse-icon") %>
      </div>
    <% end %>
  </div>
<% end %>