<!-- 데스크탑 베너, 검색바 -->
<div class="desktop-only">
  <!-- 상단 배너 검색바 -->
  <%= render "banner_search" %>
</div>

<!-- 모바일 베너, 검색바 -->
<div class="mobile-only">
  <!-- 상단 배너 -->
  <%= render 'shared/banner' %>
  <!-- 목록페이지 법안 검색바 -->
  <%= render "shared/search_form",
        active_tabs: (params[:starred] == 'true' ? ["starred"] : parsed_active_tabs.presence || ["all"]) %>
</div>

<!-- 관심법안 상태 및 빈 결과 처리 -->
<% if params[:starred] == "true" && @bills.empty? %>
  <%= render 'empty_starred_bills' %>
<% else %>
<!-- 법안 목록 -->
<div class="bill-card-container">
  <!-- 데이터 업데이트 문구 -->
  <div class="bill-data-alert">
    <%= inline_svg("alert_circle", class: "alert-circle-icon") %>
    최신 정보 반영에 시간이 소요될 수 있습니다.
  </div>
  <!-- 실제 데이터 -->
  <% @bills.each do |bill| %>
    <%= link_to bill_path(bill), class: "bill-card" do %>
      <div class="bill-header">
        <div class="star-icon-wrapper" data-controller="star" data-bill-id="<%= bill.id %>" data-action="click->star#toggle">
          <%= inline_svg("star", class: "star-icon default") %>
          <%= inline_svg("select_star", class: "star-icon select") %>
        </div>
        <div class="bill-title">
          <%= bill.title %>
        </div>
        <div class="bill-header-tag">
          <div class="bill-tag-party">
            <%# 국회의원 전체목록 API에서 정당을 제공하지 않아 현재는 이름을 표시 중이나, 추후 필드 추가 후 수정 예정 %>
            <%= bill.proposals.first&.specific_proposer&.display_name || "" %>
          </div>
          <div class="bill-tag-status <%= bill.status_css_class %>">
            <%= bill.status_emoji %>
            <%= bill.current_status %>
          </div>
        </div>
      </div>
      <div class="bill-description">
        <% if bill.summary.present? %>
          <!-- 법안 카드 내용(ai 요약 제목 / 법안 요약) -->
          <% if bill.current_bill_summary.present? %>
            <%= simple_format(bill_summary_content(bill)) %>
          <% else %>
            <span class="mobile-only">
              <%= truncate(bill_summary_content(bill), length: 80) %>
            </span>
            <span class="desktop-only">
              <%= truncate(bill_summary_content(bill), length: 120) %>
            </span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- 페이지네이션 -->
  <%= render 'pagination' if @pagy.pages >= 1 %>
<% end %>
