<!-- 데스크탑 베너, 검색바 -->
<div class="desktop-only">
  <!-- 상단 배너 검색바 -->
  <%= render "banner_search" %>
</div>

<!-- 모바일 베너, 검색바 -->
<div class="mobile-only">
  <!-- 상단 배너 -->
  <%= render 'shared/banner' %>
  <!-- 목록페이지 법안 검색바 -->
  <%= render "shared/search_form",
        active_tabs: (params[:starred] == 'true' ? ["starred"] : parsed_active_tabs.presence || ["all"]) %>
</div>

<!-- 법안 목록 -->
<div class="bill-card-container">
  <!-- 실제 데이터 -->
  <% @bills.each do |bill| %>
    <%= link_to bill_path(bill), class: "bill-card" do %>
      <div class="bill-header">
        <div class="star-icon-wrapper" data-controller="star" data-bill-id="<%= bill.id %>" data-action="click->star#toggle">
          <%= inline_svg("star", class: "star-icon default") %>
          <%= inline_svg("select_star", class: "star-icon select") %>
        </div>
        <div class="bill-title">
          <%= bill.title %>
        </div>
        <div class="bill-header-tag">
          <div class="bill-tag-party">
            <%# 국회의원 전체목록 API에서 정당을 제공하지 않아 현재는 이름을 표시 중이나, 추후 필드 추가 후 수정 예정 %>
            <%= bill.proposals.first&.specific_proposer&.display_name || "" %>
          </div>
          <div class="bill-tag-status <%= bill.status_css_class %>">
            <%= bill.status_emoji %>
            <%= bill.current_status %>
          </div>
        </div>
      </div>
      <div class="bill-description">
        <%# TODO: AI 요약 지원 추가 필요 %>
        <span class="mobile-only">
          <%= truncate(
            (bill.summary || "").gsub(/\A(?:제안이유 및 주요내용|제안이유)[:\s]*/, ""),
            length: 80
          ) %>
        </span>
        <span class="desktop-only">
          <%= truncate(
            (bill.summary || "").gsub(/\A(?:제안이유 및 주요내용|제안이유)[:\s]*/, ""),
            length: 120
          ) %>
        </span>
      </div>
    <% end %>
  <% end %>
</div>

<%# Pagination %>
<% if @pagy.pages >= 1 %>
  <ul class="pagination-list">
    <!-- 항상 표시 + 항상 클릭 가능 -->
    <%= link_to bills_path(page: 1) do %>
      <%= inline_svg("first", class: "laquo-icon") %>
    <% end %>

    <%= link_to bills_path(page: @current_page > 1 ? @current_page - 1 : 1) do %>
      <%= inline_svg("previous", class: "lsaquo-icon") %>
    <% end %>

    <% (@start_page..@end_page).each do |page| %>
      <li class="page-num <%= 'active' if page == @current_page %>">
        <%= link_to page, bills_path(page: page) %>
      </li>
    <% end %>

    <%= link_to bills_path(page: @current_page < @total_pages ? @current_page + 1 : @total_pages) do %>
      <%= inline_svg("next", class: "rsaquo-icon") %>
    <% end %>

    <%= link_to bills_path(page: @total_pages) do %>
      <%= inline_svg("last", class: "raquo-icon") %>
    <% end %>
  </ul>
<% end %>
