<!-- 상단 배너 -->
<%= render "shared/banner" %>

<div class="bill-detail-layer">
  <!-- 법안, 정당 태그 -->
  <div class="bill-detail-tags">
    <!-- 법안 카테고리 태그 -->
    <%= law_category_button('government-administration', disabled: true) %>
    <!-- 정당 태그 -->
    <%= political_party_tab('people-power') %>
  </div>
  <!-- 법안 제목 -->
  <div class="bill-detail-title"><%= @bill.title %></div>
  <!-- 법안 메타데이터 -->
  <div class="bill-detail-meta">
    <!-- 법안 번호 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">의안번호</span>
      <span class="bill-detail-meta-value"><%= @bill.bill_number || "" %></span>
    </div>
    <!-- 제안일자 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">제안일자</span>
      <span class="bill-detail-meta-value"><%= @bill.proposed_at.strftime('%Y-%m-%d') || "" %></span>
    </div>
    <!-- 소관부처 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">소관부처</span>
      <span class="bill-detail-meta-value"><%#= @bill.department_name || "" %></span>
    </div>
    <!-- 제안회기 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">제안회기</span>
      <span class="bill-detail-meta-value"><%#= @bill.proposal_session || "" %></span>
    </div>
    <!-- 제안자 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">제안자</span>
      <span class="bill-detail-meta-value">
        <%= @representative_proposer&.display_name %>
      </span>
    </div>
    <!-- 법안 원본 문서 -->
    <div class="bill-detail-meta-item">
      <span class="bill-detail-meta-label">문서</span>
      <span class="bill-detail-meta-value"><%#= @bill.document_url || "" %></span>
    </div>
  </div>

  <%# 제안 이유 및 주요 내용이 있을 경우만 AI 요약 섹션 표시 %>
  <% if @bill.summary.present? %>
    <!-- 법안 AI 요약 -->
    <div class="bill-detail-container">
      <div class="bill-detail-label">
        <%= inline_svg("list", class: "list-icon") %>
        AI 요약
      </div>
      <div class="bill-detail-content">
        <% if @bill.current_bill_summary.present? %>
          <%= render "ai_summary_accordion", current_bill_summary: @bill.current_bill_summary %>
        <% else %>
          요약 생성 중 ⏱️  곧 업데이트 될 거예요.
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- 법안 진행 상태 -->
  <div class="bill-detail-container">
    <div class="bill-detail-label">
      <%= inline_svg("list", class: "list-icon") %>
      추진 현황
    </div>
    <div class="bill-detail-content">
      <%= render "progress_bar", bill: @bill %>
    </div>
  </div>

  <!-- 법안 주요 내용 -->
  <div class="bill-detail-container">
    <div class="bill-detail-label">
      <%= inline_svg("list", class: "list-icon") %>
      제안 이유 및 주요 내용
    </div>
    <div class="bill-detail-content">
      <%= (@bill.summary || "").gsub(/\A(?:제안이유 및 주요내용|제안이유)[:\s]*/, "") %>
    </div>
  </div>
</div>
